<p>
  <strong>Bottom places:</strong>
  <%= wagon.bottom_places %>
</p>

<p>
  <strong>Upper places:</strong>
  <%= wagon.upper_places %>
</p>

<p>
  <strong>Side bottom places:</strong>
  <%= wagon.side_bottom_places %>
</p>

<p>
  <strong>Side upper places:</strong>
  <%= wagon.side_upper_places %>
</p>
