# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore special dotenv files
.env*

# Ignore special env manager's files
.ruby-gemset

# Ignore configuration files
config/database.yml
config/private_pub.yml

# Ignore uploaded files
/public/system
/public/tmp
/public/uploads
/public/spec

# Ignore other unnecessary files
*~

# Ignore Spring files
/spring/*.pid
