<tr>
  <td><%= route.title %></td>
  <td><%= link_to t("show"),    admin_route_path(route) %></td>
  <td><%= link_to t("edit"),    edit_admin_route_path(route) %></td>
  <td><%= link_to t("destroy"), admin_route_path(route), method: :delete,
                  data: { confirm: t("confirm") } %></td>
</tr>
