<h1>Control panel</h1>

<ul class="admin-control">
  <li><%= link_to "Railway Stations", admin_railway_stations_path %></li>
  <li><%= link_to "Routes", admin_routes_path %></li>
  <li><%= link_to "Tickets", admin_tickets_path %></li>
  <li><%= link_to "Trains", admin_trains_path %></li>
</ul>
