<div class="list-group">
  <span class="list-group-item">Control panel</span>
  <%= link_to "Railway Stations", admin_railway_stations_path,
              class: "list-group-item list-group-item-action" %>
  <%= link_to "Routes", admin_routes_path,
              class: "list-group-item list-group-item-action" %>
  <%= link_to "Tickets", admin_tickets_path,
              class: "list-group-item list-group-item-action" %>
  <%= link_to "Trains", admin_trains_path,
              class: "list-group-item list-group-item-action" %>
</div>
