<footer class="footer">
  <div class="container text-center">
    (с) 2017 Dmitrii Rogov. Training project in the online school
    <a href="http://www.thinknetica.com">Thinknetica</a>
  </div>
</footer>
