<p>Привет, <%= @user.name %>!</p>

<p>
  Билет для пассажира <%= @ticket.passenger %> по маршруту "<%= @ticket.route_name %>" был удалён.
</p>

<p>
  Информацию об остальных билетах вы можете посмотреть <%= link_to t("here"), tickets_url %>
<p>
